{%extends 'base.html'%}
{% block content%}

<div class="container">
    <div class="row">
        {%for resto in restorent%}
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columns">
            <img src="{{resto.restorentImg.url}}" class="img-responsive" alt="image">
            <div class="row">
                <h1 class="text-center">{{location.name}}</h1>
            </div>
            <div class="row">
                <p>{{location.restorentImg}}</p>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}