{%extends 'base.html'%}
{% block content%}
<div class="container">
    <div class="row">
        <div class=" col-md-12 d-flex justify-content-center mb-5">
            <button style="margin-top: 50px;"> <a href="{% url 'locations'%}">Location</a></button>
            
           
            {% if location%}

            <img src="{{restora.restorentImg.url" alt="Resto_image" class="img-fluid">

            {% else %}
            <strong style="color: blue;">{{message}}</strong>
            {%endif%}
           

        </div>
    </div>
</div>
{%endblock%}